    
    button {
        margin-left: 5px;
        margin-top:20px;
    }
    
    .place-btn {
        margin-left: 5px;
        margin-top:20px;
    }

    #displayGifs {
    float:left;
    }

    #buttonOne{
        margin-left:20px;
    }

    .card {
        display: none;
        width: 90%;
        margin: 0 auto; /* Added */
        margin-bottom: 150px;
        float: none; /* Added */
        text-align: center;
        overflow:auto; 
    }     

    .image, .item, .rating {
    margin-left: 10px;
    /*position: relative;*/
    }

    .item {
        display: inline-block;
    }
